node_modules
.next
out
.env
.env.local
.env.*.local
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel
.DS_Store
tsconfig.tsbuildinfo
.data
logs
exports
generated-scripts
script-runs
